<!--Formulario para agergar y editar estudiantes con Angular material y Reactive forms-->

<h1 appTitleSizeTwo>Añadir/cambiar estudiante</h1>
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

<mat-form-field appearance="fill">
    <mat-label>Nombres</mat-label>
    <input formControlName="studentName" matInput>
    <div *ngIf="studentForm.get('studentName')?.errors?.['required'] && !studentForm.get('studentName')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Apellidos</mat-label>
    <input formControlName="studentSurname" matInput>
    <div *ngIf="studentForm.get('studentSurname')?.errors?.['required'] && !studentForm.get('studentSurname')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput>
    <div *ngIf="studentForm.get('email')?.errors?.['required'] && !studentForm.get('email')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>País</mat-label>
    <input formControlName="country" matInput>
    <div *ngIf="studentForm.get('country')?.errors?.['required'] && !studentForm.get('country')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>

  <button [disabled]="studentForm.invalid" mat-raised-button color="accent" type="submit">Enviar</button>
  
</form>

  <a class="cancel-link" [routerLink]="'/home/students/list'" (click)="goBack()">Cancelar</a>